.products {
  padding: 3em;
}

.list-group {
  padding: 0 2em;
}

.carta-img {
  width: 70%;
  border-radius: 10%;
}

/* Footer Section */

#footer {
  background-color: black;
}

.white {
  color: white;
}

.copyright-and-rrss {
  border-top: 1px solid white;
}

/* Media Queries */

  /* Tablets and phones */

@media (max-width: 990px){

  .products {
    padding: 1em;
  }

  .products-col {
    padding: 1em;
  }

  .carta-img {
    display: none;
  }
}
