/* General content */

body {
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

/* Headings */

.intro-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #000;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.0rem;
  transition: transform .2s;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.nav-item {
  font-family: 'Ubuntu', sans-serif;
  padding: 0 0.5em;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section */

.first-container {
  text-align: left;
  background-color: #f49600;
}

.first-container {
  padding: 3% 10% 7%;
}

/* Title Image */

.intro-img {
  width: 90%;
  border-radius: 5%;
}

/* Products section */

#products {
  padding: 5em;
  position: relative;
}

.products-heading {
  padding-bottom: 1.5em;
  font-size: 2.5em;
}

.product-description h3{
  padding-top: 1em;
  font-size: 1.5em;
}

.product-description p{
  font-family: 'Ubuntu', sans-serif;
}

.product-description img {
  width: 90%;
  border-radius: 5%;
}

/* Reviews Section */

#reviews {
  background-color: #f49600;
  font-family: 'Ubuntu', sans-serif;
}

#reviews img {
  border-radius: 50%;
  width: 15%;
  margin: 1em;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-review {
  font-size: 3rem;
}
