h2 {
  padding-top: 10%;
}

.white {
  color: white;
}

.map {
  padding: 5% 5% 5% 10%;
}

.general-pad {
  padding: 0 10% 0 5%;
}

/* Footer Section */

#footer {
  padding: 1em;
  background-color: black;
}

.copyright-and-rrss {
  padding-bottom: 3%;
}

/* Media Queries */

  /* Tablets and phones */

@media (max-width: 990px){

  h2 {
    padding-top: 5%;
  }

  .mapouter {
    padding: 0 20%;
  }

  .info {
    padding: 5% 0;
  }
}

@media (max-width: 1024px) and (min-width: 1024px){

  h2 {
    padding-top: 5%;
  }

  .mapouter {
    padding: 0 40%;
  }

  .info {
    padding: 0 10%;
    margin: 0 0 1.5em 15em;
  }
}
